<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Web322 App | Luca Novello</title>
  </head>
  <body>
    <h1 class="text-title">About Page</h1>
    <p class="text-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero odio
      magni, harum est recusandae amet quis architecto delectus, qui minima
      facere nulla, perspiciatis enim possimus hic repellat facilis inventore
      obcaecati? Culpa quia expedita ducimus vitae necessitatibus iste rerum
      commodi nulla ratione eligendi. Dolorem odio saepe labore, exercitationem
      illum, consectetur laboriosam explicabo quasi reprehenderit similique eum
      nisi distinctio quo eius iusto. Ipsum, sequi. Nobis ducimus, consequuntur
      veritatis dolorum vero accusamus ab minus? Dolor quidem eaque recusandae
      sed consequatur incidunt eveniet veniam quod hic officiis quam vel,
      excepturi est eos doloribus. Ipsum?
    </p>
  </body>
</html>
